body{
    font-family: "Montserrat";
    text-align: center;
}



#title{
    background-color:#ff4c68;
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 0%;
}
 .container-fluid{
    padding: 7% 15%;
} 

h1 {  
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight:bold;
    color: #fff;
}


h2{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: #1f1f1f;
}
h3{
    font-family: "Poppins", sans-serif;
    color: #1f1f1f;
    font-weight: bolder;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.btn{
    margin-left: 20px;
}

.download-button{
    margin: 5% 3% 5% 0;
}
.navbar{
    padding: 0 0 4.5rem;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}
.title-image{
    width: 20%;
    height: 60%;
    transform: rotate(25deg); /* Equal to rotateZ(45deg) */
    position: absolute;
    
    
    

}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .btn{
        margin: 10px;
    }
    .title-image{
        position: static;
        width: 50%;
        height: 100%;
        margin-top: 30px;
        
        transform: rotate(0deg);
    }
}


#features{
    padding: 7% 15%;
    line-height: 1.5;
    position: relative;
    background-color: #fff;
}
.icon{

    color:#ff4c68;
    margin-bottom: 1rem;

}
.icon:hover{
    color:#ff4c68;
}

.features-box{
    text-align: center;
    padding: 5%;
}

#title{
    padding: 7% 15%;
}

#testimonial{
    padding: 7% 15%;
}


#cta{
    padding: 7% 15%;
    text-align: center;
    padding: 100px 15% 40px;
    padding-bottom: 100px;
    background-color: #ff4c68;
    
    

}


#footer{
    text-align: center;
    padding: 7% 15%;
}

#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    
}
.dog-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.lady-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    text-align: center;
    background-color: #ff4c68;
}

.press-logo{
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
    text-align: center;
    margin: 20px;
    padding: 100px;
}

.social-icon{
    margin: 20px 10px;
    
}

.link{
    margin: 20px 20px;
}